<div class="banner-mat">
		<div class="container">
			<div class="banner">
	
				<!-- Slideshow 4 -->
			   <div class="slider">
			<!-- <ul class="rslides" id="slider1">
			  <li><img src="/frontend/images/banner.jpg" alt="">
			  </li>
			  <li><img src="/frontend/images/banner1.jpg" alt="">
			  </li>
			  <li><img src="/frontend/images/banner.jpg" alt="">
			  </li>
			  <li><img src="/frontend/images/banner2.jpg" alt="">
			  </li>
			</ul> -->
		</div>

				<div class="banner-bottom">
					<div class="banner-matter">
						<p>Childish Gambino - Camp Now Available for just $9.99</p> 
						<a href="single.html" class="hvr-shutter-in-vertical ">Purchase</a>
					</div>
					<div class="purchase">
						<a href="single.html" class="hvr-shutter-in-vertical hvr-shutter-in-vertical2 ">Purchase</a>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>				
			<!-- //slider-->
		</div>
	</div>
	<!---->
	<div class="container">
		<div class="content">
			<div class="content-top">
				<h3 class="future">FEATURED</h3>
				<div class="content-top-in">
					<div class="col-md-3 md-col">
						<div class="col-md">
							<a href="single.html"><img  src="/frontend/images/pi.jpg" alt="" /></a>	
							<div class="top-content">
								<h5><a href="single.html">Mascot Kitty - White</a></h5>
								<div class="white">
									<a href="single.html" class="hvr-shutter-in-vertical hvr-shutter-in-vertical2 ">ADD TO CART</a>
									<p class="dollar"><span class="in-dollar">$</span><span>2</span><span>0</span></p>
									<div class="clearfix"></div>
								</div>

							</div>							
						</div>
					</div>
					<div class="col-md-3 md-col">
						<div class="col-md">
							<a href="single.html"><img  src="/frontend/images/pi1.jpg" alt="" />	</a>
							<div class="top-content">
								<h5><a href="single.html">Bite Me</a></h5>
								<div class="white">
									<a href="single.html" class="hvr-shutter-in-vertical hvr-shutter-in-vertical2">ADD TO CART</a>
									<p class="dollar"><span class="in-dollar">$</span><span>3</span><span>0</span></p>
									<div class="clearfix"></div>
								</div>
							</div>							
						</div>
					</div>
					<div class="col-md-3 md-col">
						<div class="col-md">
							<a href="single.html"><img  src="/frontend/images/pi2.jpg" alt="" /></a>	
							<div class="top-content">
								<h5><a href="single.html">Little Fella</a></h5>
								<div class="white">
									<a href="single.html" class="hvr-shutter-in-vertical hvr-shutter-in-vertical2">ADD TO CART</a>
									<p class="dollar"><span class="in-dollar">$</span><span>5</span><span>0</span></p>
									<div class="clearfix"></div>
								</div>
							</div>							
						</div>
					</div>
					<div class="col-md-3 md-col">
						<div class="col-md">
							<a href="single.html"><img  src="/frontend/images/pi3.jpg" alt="" /></a>	
							<div class="top-content">
								<h5><a href="single.html">Astral Cruise</a></h5>
								<div class="white">
									<a href="single.html" class="hvr-shutter-in-vertical hvr-shutter-in-vertical2">ADD TO CART</a>
									<p class="dollar"><span class="in-dollar">$</span><span>4</span><span>5</span></p>
									<div class="clearfix"></div>
								</div>
							</div>							
						</div>
					</div>
				<div class="clearfix"></div>
				</div>
			</div>
			<!---->
			<div class="content-middle">
				<h3 class="future">BRANDS</h3>
				<div class="content-middle-in">
				<ul id="flexiselDemo1">			
					<li><img src="/frontend/images/ap.png"/></li>
					<li><img src="/frontend/images/ap1.png"/></li>
					<li><img src="/frontend/images/ap2.png"/></li>
					<li><img src="/frontend/images/ap3.png"/></li>
				
				</ul>


				</div>
			</div>
			<!---->
			<div class="content-bottom">
				<h3 class="future">LATEST</h3>
				<div class="content-bottom-in">
				<ul id="flexiselDemo2">			
					<li><div class="col-md men">
							<a href="single.html" class="compare-in "><img  src="/frontend/images/pi4.jpg" alt="" />
							<div class="compare in-compare">
								<span>Add to Compare</span>
								<span>Add to Whislist</span>
							</div></a>
							<div class="top-content bag">
								<h5><a href="single.html">Symbolic Bag</a></h5>
								<div class="white">
									<a href="single.html" class="hvr-shutter-in-vertical hvr-shutter-in-vertical2">ADD TO CART</a>
									<p class="dollar"><span class="in-dollar">$</span><span>4</span><span>0</span></p>
									<div class="clearfix"></div>
								</div>
							</div>							
						</div></li>
					<li><div class="col-md men">
							<a href="single.html" class="compare-in "><img  src="/frontend/images/pi5.jpg" alt="" />
							<div class="compare in-compare">
								<span>Add to Compare</span>
								<span>Add to Whislist</span>
							</div></a>	
							<div class="top-content bag">
								<h5><a href="single.html">Interesting Read</a></h5>
								<div class="white">
									<a href="single.html" class="hvr-shutter-in-vertical hvr-shutter-in-vertical2">ADD TO CART</a>
									<p class="dollar"><span class="in-dollar">$</span><span>2</span><span>5</span></p>
									<div class="clearfix"></div>
								</div>
							</div>							
						</div></li>
					<li><div class="col-md men">
							<a href="single.html" class="compare-in "><img  src="/frontend/images/pi6.jpg" alt="" />
							<div class="compare in-compare">
								<span>Add to Compare</span>
								<span>Add to Whislist</span>
							</div></a>	
							<div class="top-content bag">
								<h5><a href="single.html">The Carter</a></h5>
								<div class="white">
									<a href="single.html" class="hvr-shutter-in-vertical hvr-shutter-in-vertical2">ADD TO CART</a>
									<p class="dollar"><span class="in-dollar">$</span><span>1</span><span>0</span></p>
									<div class="clearfix"></div>
								</div>
							</div>							
						</div></li>
					<li><div class="col-md men">
							<a href="single.html" class="compare-in "><img  src="/frontend/images/pi7.jpg" alt="" />
							<div class="compare in-compare">
								<span>Add to Compare</span>
								<span>Add to Whislist</span>
							</div></a>	
							<div class="top-content bag">
								<h5><a href="single.html">Onesie</a></h5>
							<div class="white">
									<a href="single.html" class="hvr-shutter-in-vertical hvr-shutter-in-vertical2">ADD TO CART</a>
									<p class="dollar"><span class="in-dollar">$</span><span>6</span><span>0</span></p>
									<div class="clearfix"></div>
								</div>
							</div>							
						</div></li>
				
				</ul>

				</div>
			</div>
			<ul class="start">
				<li ><a href="#"><i></i></a></li>
				<li><span>1</span></li>
				<li class="arrow"><a href="#">2</a></li>
				<li class="arrow"><a href="#">3</a></li>
				<li class="arrow"><a href="#">4</a></li>
				<li class="arrow"><a href="#">5</a></li>
				<li ><a href="#"><i  class="next"> </i></a></li>
			</ul>
		</div>
	</div>
	<!---->