  <div class="panel panel-default">
    <div class="panel-heading"> Search {{title | uppercase}}</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-12">
          <form role="form" action="" method="post">
          <div class="col-lg-4">
            <div class="form-group" name="searchForm">
              <label>Search By</label>
               <select name="searchby" class="form-control" id="searchby" data-ng-model="search.searchby" data-ng-options="obj.title as obj.fieldName for obj in selectOptions"  >
                 <option value="">Select</option>
               </select>
            </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <label>Search Keyword</label>
                <input name="searchkey" class="form-control" id="searchkey" placeholder="Enter keyword" data-ng-model="search.searchkey">
              </div>
            </div>            
            <div class="col-lg-4">
              <div class="form-group">
                <br />
                <button type="submit" name="search" class="btn btn-default" id="searchButton" data-ng-click="datalist.searchData()">Search</button>
              </div>            
            </div>
          </form>
        </div>
        
      </div>
      <!-- /.row (nested) --> 
    </div>
    <!-- /.panel-body --> 
  </div>
  <div class="panel panel-default">
    <div class="panel-heading"> List of {{ pageTitle | uppercase}}  </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
      <div class="table-responsive">
        <table id="myTable" class="table table-striped" > 
          <thead>
            <th>SN</th>
            <th data-ng-repeat="ths in tableFields">{{ths | uppercase}}</th>
            <th>Edit/Delete/View</th>
          </thead>
          <tbody>
            <tr data-ng-repeat="trs in tableData">
              <td>{{((page-1)*limit) +($index+1)}}</td>
              <td data-ng-repeat="tds in tableFields">

                <span data-ng-if="tds=='category'">
                  {{trs[tds].title}}
                </span>
                <span data-ng-if="tds=='brand'">
                  {{trs[tds].name}}
                </span>
                <span data-ng-if="tds!='category' && tds!='brand'">
                  <span data-ng-if="tds=='date'">{{trs[tds] | date:'medium'}}</span>
                  <span data-ng-if="tds!='date'">{{trs[tds]}}</span>                  
                </span>

              </td>

              <td>
                <a href="" class="btn btn-success btn-circle" data-ng-click="datalist.viewData(trs)">
                  <i class="glyphicon glyphicon-eye-open"></i>
                </a>
                <a href="" class="btn btn-primary btn-circle updateIt" data-ng-click="datalist.editData(trs)">
                  <i class="fa fa-edit"></i>
                </a>
                <a href="" class="btn btn-danger btn-circle del_item"  data-ng-click="datalist.deleteData(trs._id)">
                  <i class="glyphicon glyphicon-trash"></i>
                </a>
              </td>

            </tr>
          </tbody>
        </table>
       
      </div>
       <div id="pagination"></div>
      <!-- /.table-responsive --> 
    </div>
    <!-- /.panel-body --> 
  </div>