<div class="row">
  <div class="panel panel-default">
  <div class="panel-heading"> {{ formRole |uppercase }}-{{pageTitle}}</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-6">
          <form role="form" method="post" name="user-form">

            <div class="form-group">
              <i>Full Name</i>
              <input name="fullname" type="text" class="form-control" placeholder="Full Name..." data-ng-model="formData.fullname">
            </div>
            <div class="form-group">
              <i>User Name</i>
              <input name="username" type="text" class="form-control" placeholder="User Name..." data-ng-model="formData.username">
            </div>
            <div class="form-group">
              <i>Email</i>
              <input name="email" type="email" class="form-control" placeholder="Email..." data-ng-model="formData.email">
            </div>
            <div class="form-group">
              <i>Password</i>
              <input name="password" type="password" class="form-control" placeholder="Password..." data-ng-model="formData.password">
            </div>

            <div class="form-group">
              <label>Status</label>

              <select name="status" class="form-control" id="status"  data-ng-options="obj.value as obj.fieldName for obj in statusField" data-ng-model="formData.status">
                <option value="">SELECT</option>
              </select>
            </div>
            <span data-ng-if="formRole=='edit'">
              <button name="edit"  class="btn btn-default" data-ng-click="updateData()">Update {{pageTitle}}</button>
            </span>
            <span data-ng-if="formRole=='add'">
              <button name="add" class="btn btn-default" data-ng-click="addData()">Create {{pageTitle}}</button>
            </span>
            <button type="reset" class="btn btn-default">Reset
            </button>
          </form>
        </div>

      </div>
      <!-- /.row (nested) --> 
    </div>
    <!-- /.panel-body --> 
  </div>

</div>